body {
  margin: 0%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0%;
}
h1 {
  font-size: 562.5%; /*** 16px=100%=1em ***/
  margin: 50px auto 0 auto;
}
.desig {
  font-size: 2.5rem;
  color: #d493b923;
}
h3 {
  color: #5b0670;
}
.top-container {
  background-color: #c9ccd5;
  position: relative;
  padding-top: 100px;
  width: auto;
}
.pumpkin1 {
  position: absolute;
  right: 400px;
  top: 40px;
  width: 100px;
}
.pumpkin2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
  width: 100px;
}
.name {
  font-family: "Architects Daughter", cursive;
}
.desig {
  font-family: "VT323", monospace;
  font-weight: bolder;
}
.footer-link {
  color: #11999e;
}
.skill-row {
  margin: 100px auto 50px auto;
}
.penis {
  width: 150px;
}

.profile {
  width: 50%;
  margin: auto;
}
h2 {
  color: rgba(241, 82, 9, 0.822);
  font-size: 2.5rem;
}
.hiya {
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  font-size: 50px;
  color: #7c83fd;
}
.bottom-container {
  background-color: #11999e;
  padding-top: 30px;
}
.footer-link {
  color: black;
}
.contact-me {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
.copyright {
  margin-bottom: 0px;
  color: black;
}
.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #ffffff);
  background-image: -moz-linear-gradient(top, #d93434, #ffffff);
  background-image: -ms-linear-gradient(top, #d93434, #ffffff);
  background-image: -o-linear-gradient(top, #d93434, #ffffff);
  background-image: linear-gradient(to bottom, #d93434, #ffffff);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  font-family: Georgia;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f2c305;
  background-image: -webkit-linear-gradient(top, #f2c305, #fc0dd8);
  background-image: -moz-linear-gradient(top, #f2c305, #fc0dd8);
  background-image: -ms-linear-gradient(top, #f2c305, #fc0dd8);
  background-image: -o-linear-gradient(top, #f2c305, #fc0dd8);
  background-image: linear-gradient(to bottom, #f2c305, #fc0dd8);
  text-decoration: none;
}
a:hover {
  color: white;
}
a {
  color: black;
}
.net {
  width: 100px;
}
.middle-container {
  background-color: #f0d9ff;
}
.accomplishments {
  color: #ff3f00;
}
p {
  color: red;
}
